head{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgba(255, 255, 255, 0.915);
}
h3{
    font-size: 40px;
    text-shadow: 1px 2px 2px rgb(222, 140, 158);
}
.head{
    text-align: center;
    color: rgb(99, 49, 52);
    margin-top: 130px;
    margin-bottom: -20px;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
img{
    max-width: 100%;
    height: auto;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin-top: 30px;
}
input {
    background-color: rgb(222, 140, 158);
    color: rgb(99, 49, 52);
    width: 70px;
    height: 30px;
    margin: 0 15px;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
}
input:hover{
    text-shadow: 1px 2px 2px rgb(214, 182, 189);
    background-color: rgb(227, 156, 172);
    font-size: larger;
    cursor: pointer;
}